<settings>
  <!--
      strings 30000 thru 30999 reserved for plugins and plugin settings
      strings 31000 thru 31999 reserved for skins
      strings 32000 thru 32999 reserved for scripts
      strings 33000 thru 33999 reserved for common strings used in add-ons
  -->
  <category label="32000">
    <setting label="32001" id="lang" type="labelenum" default="Japanese" values="auto|Afrikaans|Catalan|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hungarian|Italian|Japanese|Kannada|Latvian|Polish|Portuguese|Romanian|Slovak|Spanish|Swahihi|Swedish|Tamil|Turkish"/>
    <setting label="32002" id="amp" type="labelenum" default="1.0" values="0.2|0.4|0.6|0.8|1.0|1.2|1.4|1.6|1.8|2.0"/>
    <setting label="32003" id="speed" type="labelenum" default="1.0" values="0.6|0.8|1.0|1.2|1.4|1.6|1.8|2.0"/>
    <setting label="32004" id="debug" type="bool" default="false"/>
    <setting label="32005" type="action" option="close" action="RunPlugin(plugin://$ID/)"/>
  </category>
  <category label="32100">
    <setting label="32101" id="espeak" type="file" default=""/>
  </category>
  <category label="32200">
    <setting label="32201" id="openjtalk" type="file" default=""/>
    <setting label="32202" id="openjtalk_dic" type="folder" default=""/>
    <setting label="32203" id="openjtalk_voice" type="file" default=""/>
  </category>
</settings>
